<!doctype html>
<html>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <head>
        <title>Where to live</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
        <style>
        body {
            /* Set background image and properties */
            /*background-image: url('nycskyline.jpeg');*/ /* Replace 'path/to/your/image.jpg' with the actual path to your image */
            background-image: url("{{ url_for('static', filename='nycskyline.jpg') }}");
            background-size: cover; /* Adjust as needed: cover, contain, or a specific size */
            background-position: center center; /* Adjust as needed: center center, top left, etc. */
            background-repeat: no-repeat; /* Prevent image repetition */
            height: 100vh; /* Set the height to the full viewport height */
            margin: 0; /* Remove default margin */
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: lightpink;
            color: black; /* Set text color to contrast with the background */
        }
        label {
            color: white;
            font-weight: bold;
        }
        /* Add additional styling as needed */

        </style>

<body>
    <div class="container mt-5" style="background-color: lightpink;color: black; font-size: 11px; padding-top: 40px;">
        <form method="post" action="/backhome">
            <button type="submit" name="HomeButton" value="clicked">Home</button>
        </form>
        <h1>Highlights!</h1>
        <h3>Links:</h3>
        <ul>
            <li><a href = https://www.linkedin.com/in/claire-dawson22> LinkedIn </a></li>
            <li> <a href = https://github.com/cdawson1223> Github </a></li>
        </ul>
        <h3>Capstone Projects:</h3>
        <ul>
            <li>To fulfill my Engineering Honors Requirement at the University of Michigan, I had to create a personal 
                capstone project. I chose to work on it in the Public Service Sector, working with the Detroit Public
                School District to combat chronic absenteeism. I built a protype UX design for an app that would in hope
                be used to connect drivers to parents to help get their children to and from school.
            </li>
            <li>To fulfill my major capstone requirement, I worked on a project with three other classmates to help find a 
                new layout for an auto manufacturing comapny's production floor. Specifically, I worked on the simulation side 
                where we took the different machinery, routes, and modes of transportation to test the actual efficiency. We built 
                an original model in ProModel and created Python pseudocode for future simulations. 
            </li>
        </ul>
        <h3>Internship Projects:</h3>
        <div>
            <ul>
                <li>At SpaceX, the first app I built pulled information from the back-end sql system on SQLServer, displayed the information for
                    a specific ticket through UI, allowed users to modify the on the UI, for it to push back into the bakc-end and modify 
                    those databases in the SQLServer.
                </li>
                <li>The second flask app I built at SpaceX, pulled massive abounts of data from the back-end sql system Databases on SQLServer and displayed 
                    specific features based on the users selection for relevant information. Due to the large amounts of data, I had to create local 
                    databases stored on Postgres to display information in an efficient manner. Every 24 hours a system was added so that the local database would 
                    update based on the changes that occured in the remote database the last day.  
                </li>
                <li>At Woven by Toyota, I have added additional extraction for performance metrics for ECUs that begin on the 
                    back-end of the vehicle and ultimately route themselves to be displayed on the interface of an infotainment system.
                </li>
            </ul>
        </div>
        <h3>Research Projects:</h3>
        <div>
            <ul>
                <li>At the University of Michigan I did research at the Center for 
                    Healthcare Engineering and Patient Safety (CHEPS). During my time at CHEPS, I had the opportunity 
                    to work on three different teams. I used linear programs in CPLEX to build optimal schedules for 
                    residents at the university hospital. I was a part of the simulation team that built programs in C++ 
                    to simulate different scenarios for prenatal women. Lastly, I worked on a new model for Analytic 
                    Morphomics®, which measures bio-markers about a patient’s body in order to assign quantitative values 
                    to the patient’s state.  
                </li>
                <li>At Columbia University I did research in Computational Genomics in the Pe'er Lab. Here I had the opporutnity 
                    to look into plasticity within Lung Cancer. Plastciity is an important metric to look at cancerous cells to see how 
                    they can change and respond to different treatments. In the project, we utilized a Python tool called scimilarity that 
                    given a set of unknown cells, returns the nearests neighbors for help create a potential label. Using these 
                    distributions we compute entropy and bhattacharyya distance to create a plasticity score. 
                </li>
                <li>
                    Both of my research opportunities were momentous in the realization that I wanted to (and could)
                    use my talents in quantitative analysis, programming, and problem solving to help address important issues 
                    in the world. Specifically for both of these, the applications in healthcare are endless!
                </li>
            </ul>
        </div>
        <h3>DevFest Hackathon:</h3>
        <div>
            <ul>
                <li> I competed in the DevFest Hackathon hosted at Columbia University. Here, along with one other 
                    partner, we built an application called "Where to Live." Deciding where you want to live with so 
                    many options can be overwhelming at times. Our application, allowed users to pick from various featues 
                    like cost of living, weather, demographics, walkability, etc. and using various algorithms on the backend 
                    helped choose some compatible cities that would be good for them to live in! We used a mix of machine learning 
                    algorithms, research for numerical mapping, and putting these all together with a nearest neighbor algorithm to get the 
                    best options given the user input.
                </li>
                <li>
                    In all, DevFest was a great opportunity to test out a project I had been wanting to try. In 24 hours we were only 
                    able to get to a beta version of the app but it was cool to see how much we could build in such a short time. This Hackathon 
                    was also a great oppoortunity to work algonisde someone else in a time crunch, meet new people, and learn about the kinds of 
                    projects they are passionate about! 
                </li>
            </ul>
        </div>
    </div>
</body>